@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na sajt "Moje knjige"</h1>
    <p>Ukoliko imate želju da vodite evidenciju o svojim knjigama, na pravom ste mestu!</p>
    <img src="~/image/pocetna.jpg" alt="pocetna" width="450"  />
</div>
