@model EPOSProjektni.Models.Book

<br />
<h2 class="text-info">@(Model.Id!=0 ? "Ažuriraj" : "Dodaj") podatke o knjizi</h2> <!--ako nemamo podatke o knjizi prikazace
                                                                                      se Dodaj, a ako imamo Azuriraj-->
<br />

<div class="border container" style="padding:30px;">
    <form method="post"  enctype="multipart/form-data"> <!--posto dodajemo sliku potrebno je da imamo enkripciju-->
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Naziv"></label>
            </div>
            <div class="col-6">
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Autor"></label>
            </div>
            <div class="col-6">
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Godina"></label>
            </div>
            <div class="col-6">
                <input asp-for="Godina" class="form-control" />
                <span asp-validation-for="Godina" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="BrojStrana"></label>
            </div>
            <div class="col-6">
                <input asp-for="BrojStrana" class="form-control" />
                <span asp-validation-for="BrojStrana" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="FajlSlike"></label>
            </div>
            <div class="col-6">
                <input asp-for="FajlSlike" accept="image/*"/>
                <span asp-validation-for="FajlSlike" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id != 0 ? "Ažuriraj" : "Dodaj")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">Povratak na spisak</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
